* {
    padding: 0;
    margin: 0;
}


/* 导航的导入 star */

.app1 nav {
    height: 100px;
    margin-bottom: 0px;
    background-color: white;
    border: none;
}

.navbar-header {
    margin-left: 80px;
}

.navContent {
    height: 100%;
    /* background-color: red; */
}

.navContent>.mynav1 {
    height: 100%;
}

.navContent>.mynav1 a {
    display: inline-block;
    height: 100%;
}

.navContent>.mynav1>a>img {
    padding-top: 5px;
}

.navContent>.mynav2>ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mynav2>ul {
    height: 100%;
    text-align: center;
    float: right;
}

.mynav2 ul>li {
    height: 100%;
}

.navContent>.mynav1>button {
    border-color: white;
}

.mynav2 ul>li {
    z-index: 999;
}

.mynav2>ul>li>a {
    height: 100%;
    line-height: 60px;
    font-size: 20px;
    font-family: MicrosoftYaHei;
    color: rgba(102, 102, 102, 1);
}

.navContent>.mynav2>ul>li:active {
    background: rgba(102, 102, 102, 0.1);
    /* opacity: 0.02; */
    border-radius: 8px;
    color: rgba(51, 51, 51, 1);
}

.navContent>.mynav2>ul>li:visited {
    background: rgba(102, 102, 102, 0.1);
    /* opacity: 0.02; */
    border-radius: 8px;
    color: rgba(51, 51, 51, 1);
}


/* 导航的导入end */

.about-banner img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.phoneNum {
    margin-left: 360px;
    margin-top: -49px
}

.about-us {
    text-align: center;
}

.about-us p:nth-child(2) {
    padding-bottom: 50px;
    font-size: 30px;
    font-family: MicrosoftYaHei;
    color: rgba(197, 197, 197, 1);
}

.abT {
    margin-top: 85px;
    font-size: 30px;
    font-family: MicrosoftYaHei;
    color: rgba(102, 102, 102, 1);
}

.about-text {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.about-text p {
    height: 100%;
    /* line-height: 140%; */
    text-align: left;
    vertical-align: top;
    margin-right: 50px;
    word-break: break-all;
    word-wrap: break-word;
    font-size: 20px;
    font-family: MicrosoftYaHei;
    color: rgba(153, 153, 153, 1);
}

.about-text p {
    height: 100%;
    line-height: 80px;
}

.about-img img {
    width: 100%;
    height: 80%;
    min-width: 100%;
}

.firm img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.map {
    width: 100%;
    height: 600px;
}

.footer {
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 380px;
    text-align: center;
    background: rgba(46, 227, 182, 1);
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    align-items: center;
}

.pStyle {
    font-size: 38px;
    margin-bottom: 52px;
}

.map {
    height: 471px;
    margin: 105px 0;
}

.mapText {
    /* border: 1px solid red; */
    margin: 105px 10px;
    font-size: 24px;
    font-family: MicrosoftYaHei;
    color: rgba(102, 102, 102, 1);
    text-align: center;
}

.mapText p {
    padding: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.mapText p span {
    padding: 10px;
}


/* .twoSpan {
    padding-right: 20px;
} */

.footer ul li {
    list-style: none;
    float: left;
    padding-right: 70px;
}

.footer li a {
    color: rgba(255, 255, 255, 1);
}

.footer div {
    margin-top: 99px;
}


/* 这里做一个媒体查询器 */

@media (max-width: 970px) {
    .footer ul li {
        padding-right: 20px;
    }
    html {
        font-size: 20px;
    }
}

@media (max-width:450px) {
    .footer ul li {
        padding-right: 10px;
        font-size: 10px;
    }
    .pStyle {
        font-size: 20px;
    }
    .footer div p {
        font-size: 10px;
    }
    .footer div {
        margin-top: 80px;
    }
    .mapText {
        margin: 40px 0;
    }
    .mapText p {
        padding: 5px;
        font-size: 10px;
    }
    .about-text p {
        width: 100%;
        height: 80%;
        font-size: 10px;
        /* line-height: 100%; */
        overflow-y: auto;
    }
    .map {
        margin: 40px 0;
    }
    .navContent>.mynav1>button {
        height: 100%;
        padding: 0 10px;
        margin: 0 auto;
    }
    .navContent>.mynav1>a {
        height: 100%;
        /* background-color: red */
    }
    .navContent>.mynav1>a>img {
        height: 100%;
    }
}


/* 大于970px的时候的样式，因为最小的时候才970px */

@media (min-width: 1170px) {
    html {
        font-size: 10px;
    }
}

@media only screen and (max-width: 50em) {
    body {
        font-size: 1.2rem;
        background: #fff;
    }
    .app1>nav {
        height: 50px;
    }
}


/* @media only screen and (min-width: 30.0625em) and (max-width:50em) {}

@media only screen and (max-width: 30em) {
    body {
        font-size: 1.0rem;
        background: #999;
    }
} */