* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 14px;
}

.INnav {
    width: 100%;
    height: 100px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    width: 209px;
    height: 100%;
    margin-left: 360px;
    margin-right: 401px;
    /* border: 1px solid red; */
    text-align: center;
    /* line-height: 100px; */
}

.logo img {
    width: 209px;
    height: 53px;
    margin-top: 25px;
}

.nav-ul {
    width: 590px;
    height: 100%;
    margin-right: 360px;
}

.mynav {
    list-style: none;
    color: rgba(102, 102, 102, 1);
    line-height: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center
}

.banner {
    height: 660px;
    /* border: 1px solid red */
}

.banner img {
    width: 100%;
    height: 100%;
}

.app {
    width: 1410px;
    height: 794px;
}

.appPhoto {
    margin-top: 116px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.05);
    margin-left: 255px;
    width: 1410px;
    height: 749px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app-item {
    width: 526px;
    /* border: 1px solid red; */
}

.app-item img {
    width: 100%;
    height: 419px;
    background: rgba(178, 178, 178, 1);
    border-radius: 2px;
}

.app-item input {
    margin-top: 75px;
    height: 52px;
    width: 100%;
}

.app-item button {
    margin-top: 32px;
    text-align: center;
    width: 100%;
    height: 52px;
    background: rgba(44, 217, 174, 1);
    border-radius: 2px;
}

.appImg {
    margin-top: 116px;
    height: 860px;
}


/* .brandText {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.brandText p {
    width: 420px;
    height: 50px;
    font-size: 45px;
    font-family: MicrosoftYaHeiLight;
    color: rgba(102, 102, 102, 1);
} */


/* #demo {
    background: url('./img/login-bg.png') no-repeat;
} */


/* 小于970px的时候的样式，因为最大的时候才970px */

@media (max-width: 970px) {
    html {
        font-size: 20px;
    }
}


/* 大于970px的时候的样式，因为最小的时候才970px */

@media (min-width: 1170px) {
    html {
        font-size: 10px;
    }
}

@media only screen and (max-width: 50em) {
    body {
        font-size: 1.2rem;
        background: #fff;
    }
}

@media only screen and (min-width: 30.0625em) and (max-width:50em) {}

@media only screen and (max-width: 30em) {
    body {
        font-size: 1.0rem;
        background: #999;
    }
}


/* @media (min-width: 970px) and (max-width: 1170px) {
    html{
        font-size: calc(  (100vw - 970px) / 200);
    }
} */