* {
    padding: 0;
    margin: 0;
}


/* 导航的导入 star */

.app1 nav {
    height: 100px;
    margin-bottom: 0px;
    background-color: white;
    border: none;
}

.navbar-header {
    margin-left: 80px;
}

.navContent {
    height: 100%;
    /* background-color: red; */
}

.navContent>.mynav1 {
    height: 100%;
}

.navContent>.mynav1 a {
    display: inline-block;
    height: 100%;
}

.navContent>.mynav1>a>img {
    padding-top: 5px;
}

.navContent>.mynav2>ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mynav2>ul {
    height: 100%;
    text-align: center;
    float: right;
}

.mynav2 ul>li {
    height: 100%;
}

.navContent>.mynav1>button {
    border-color: white;
}

.mynav2 ul>li {
    z-index: 999;
}

.mynav2>ul>li>a {
    height: 100%;
    line-height: 60px;
    font-size: 20px;
    font-family: MicrosoftYaHei;
    color: rgba(102, 102, 102, 1);
}

.navContent>.mynav2>ul>li:active {
    background: rgba(102, 102, 102, 0.1);
    /* opacity: 0.02; */
    border-radius: 8px;
    color: rgba(51, 51, 51, 1);
}

.navContent>.mynav2>ul>li:visited {
    background: rgba(102, 102, 102, 0.1);
    /* opacity: 0.02; */
    border-radius: 8px;
    color: rgba(51, 51, 51, 1);
}


/* 导航的导入end */

.content {
    padding: 100px 0;
    background: rgba(245, 245, 245, 1);
}

.dowmAppLb {
    /* background-color: red; */
    /* height: 400px; */
}

.dowmAppLb>.carousel {
    width: 100%;
    /* height: 400px; */
    background-color: white;
}

#lbImg {
    width: 100%;
    height: 100%;
    background: rgba(245, 245, 245, 1);
}

#blImg>.myitem {
    width: 100%;
    height: 100%;
}

.myitem>img {
    width: 100%;
    min-width: 100%;
    max-height: 100%;
    height: 100%;
}

#lbImg>.myitem {
    background-image: url(./img/lbo.png);
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: contain;
}

.dowmAppLb>.carousel>.left {
    background: rgba(245, 245, 245, 1);
}

.dowmAppLb>.carousel>.right {
    background: rgba(245, 245, 245, 1);
}

.carousel-indicators {
    bottom: -40px;
}

.carousel-indicators>li {
    width: 15px;
    height: 15px;
    margin: 0 20px;
    background: rgba(224, 224, 224, 1);
}

.dowmAppLb>.carousel>.carousel-control>.glyphicon {
    width: 60px;
    text-align: center;
    line-height: 60px;
    height: 60px;
    opacity: 6;
    background: rgba(224, 224, 224, 1);
    border-radius: 50%;
}

.dowmAppImg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dowmAppImg-img {
    margin-top: 20%;
    width: 80%;
    height: 40%;
}

.dowmAppImg-img img {
    width: 100%;
    height: auto;
    min-height: auto;
}


/* footer样式 */

.footer {
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 380px;
    text-align: center;
    background: rgba(46, 227, 182, 1);
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    align-items: center;
}

.pStyle {
    font-size: 38px;
    margin-bottom: 52px;
}

.footer ul li {
    list-style: none;
    float: left;
    padding-right: 82px;
}

.footer li a {
    color: rgba(255, 255, 255, 1);
}

.footer div {
    margin-top: 99px;
}


/* 媒体查询器 */

@media (max-width:450px) {
    .content {
        padding: 30px 0;
    }
    .footer ul li {
        padding-right: 10px;
        font-size: 10px;
    }
    .footer div {
        margin-top: 80px;
    }
    .footer div p {
        font-size: 10px;
    }
    .footer ul li {
        padding-left: 0;
    }
    .navContent>.mynav1>button {
        height: 100%;
        padding: 0 10px;
        margin: 0 auto;
    }
    .navContent>.mynav1>a {
        height: 100%;
        /* background-color: red */
    }
    .navContent>.mynav1>a>img {
        height: 100%;
    }
}

@media (max-width:400px) {
    .pStyle {
        font-size: 20px;
    }
    .app1>nav {
        height: 50px;
    }
}